/* MarketInfo.module.css */

.container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #f1f5f9; /* Light grey background */
    padding: 2rem; /* Padding around the content for spacing */
    color: #1a202c; /* Set the primary text color to a darker shade for better readability */
    border-radius: 12px;
}
  
  /* Card styles */
  .card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem; /* Padding inside the card */
    margin-bottom: 1rem; /* Margin between cards */
    border: 1px solid #f1f5f9; /* Light border for card */
  }
  
  /* Search bar styling */
  .searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .searchInput {
    flex-grow: 1;
    margin-right: 1rem; /* Space between search input and button */
    padding: 0.75rem 1rem;
    border: 1px solid #cbd5e0;
    border-radius: 8px;
    font-size: 0.85rem; /* Slightly smaller font size */
    font-weight: 600;
    letter-spacing: 1px; /* Spacing between letters */
  }
  
  .searchIcon {
    color: #4a5568;
    cursor: pointer;
  }
  
  /* Button styling */
  .button {
    background-color: #333; /* Active button with darker background */
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase; /* Makes text uppercase */
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.05em;
  }
  
  .button:hover {
    background-color: #333;
  }
  
  .coinImage {
    width: 25px; /* Reduced size of the coin images */
    height: 25px;
    border-radius: 50%; /* Keep images round */
  }

  /* Table styling */
  .table {
    width: 100%;
    margin-top: 0; /* Adjust as needed */
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .table th {
    background-color: #f1f5f9; /* Light gray background for headers */
    color: #333;
    text-align: left;
    font-size: 0.85rem; /* Slightly smaller font size */
    font-weight: 600;
    letter-spacing: 1px; /* Spacing between letters */
    padding: 0.75rem 1rem;
  }
  
  .table td {
    color: #333;
    padding: 0.75rem 1rem;
    border-top: 1px solid #f9f9f9;
  }
  
  /* Striped table rows for better readability */
  .table tr:nth-child(odd) {
    font-size: 0.85rem; /* Slightly smaller font size */
    font-weight: 500;
    letter-spacing: 1px; 
    background-color: #f9f9f9;
    text-transform: uppercase;
  }

  .table tr:nth-child(even) {
    font-size: 0.85rem; /* Slightly smaller font size */
    font-weight: 500;
    letter-spacing: 1px; 
    background-color: #fff; /* White for even rows */
    text-transform: uppercase;
  }
  
  /* Pagination styling at the bottom of the table */
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .pageButton {
    background-color: #e2e2e2; /* Gray background */
    color: #333;
    border: 1px solid #e2e2e2;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.85rem; /* Slightly smaller font size */
    font-weight: 600;
    letter-spacing: 1px; /* Spacing between letters */
  }
  
  .pageButton.active {
    background-color: #333; /* Active button with darker background */
    color: #fff;
  }
  
  .pageButton:hover {
    background-color: #333; /* Active button with darker background */
    color: #fff;
  }